SECRET_KEY=cambia-esta-clave-en-produccion-usa-una-larga
DEBUG=True
USE_SQLITE=True
ALLOWED_HOSTS=localhost,127.0.0.1
TIME_ZONE=America/Panama

# Postgres (si USE_SQLITE=False)
# DATABASE_URL=postgres://user:pass@localhost:5432/bitacora_ee

# Redis / Celery (fase 4)
# REDIS_URL=redis://localhost:6379/0

# BUSAE
BUSAE_EMAIL=
BUSAE_PASSWORD=
BUSAE_BASE_URL=https://login.busae.com

# Genesis
GENESIS_USER=
GENESIS_PASSWORD=
GENESIS_URL=
